extends layout

block content
  h1= title

  - let uniqueGenres = new Set() // Create a set to store unique genre names

    if genre_list.length
      ul
        each genre in genre_list
          - if (!uniqueGenres.has(genre.name)) // Check if the genre is not already in the set
            - uniqueGenres.add(genre.name) // Add the genre to the set
            li
              a(href=genre.url) #{genre.name}
    
    else
      p There are no genres.
